/* Basic Styling - don't alter this part! */
html,
body {
    background-image:linear-gradient(to bottom right, purple, orange);
    text-align:center;
    color: black;}

#code_image {
    border-radius: 150px;
    

}
    