/* Basic Styling - don't alter this part! */
html,
body {
    background-image:linear-gradient(to bottom right, purple, orange);
    text-align:center;
    color: black;
    cursor:crosshair;}

 .header {
    font-family: Papyrus, fantasy;
 }   

#code_image {
    border-radius: 150px;
    height: 40%;
    width: 40%;


}
    